# Python
__pycache__/
*.py[cod]
.python-version
venv/
venv311/*

# Environment / secrets
.env
terraform-key.json

# Terraform
.terraform/
.terraform.lock.hcl
.terraform.lock.*
.terraform.tfstate*
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/terraform.tfvars
*.tfvars
*.tfvars.json
tmp.sql

# macOS
.DS_Store
